body {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  background: linear-gradient(to bottom right, red, palevioletred);
}

.row {
  padding-right: 0px;
  margin-right: 0px;
}

.top-image {
  background-color: white;
  margin: 0 auto;
  float: left;
  padding: 0;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-default {
  background-color: #2e2e2e;
  text-transform: uppercase;
}

.navbar-default a {
  color: white;
  margin: 0 65px 0 65px;
}

.navbar-default a.disabled {
  color: gray;
  pointer-events: none;
}

.container {
  margin: 0 auto;
}

h4 {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  margin-top: 40px;
}

.panel-group {
  margin: 20px;
  padding: 20px;
}

.panel-heading {
  background-color: #2e2e2e;
  color: white;
  padding: 5px;
  font-size: 30px;
}

.panel-body {
  padding: 10px;
  background-color: lightpink;
  color: #2e2e2e;
  font-family: 'Roboto', sans-serif;
}

.panel {
  margin: 30px 10px 30px 10px;
}

.party-rules {
  background-color: white;
}

.party-rules p {
  color: #2e2e2e;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  padding: 40px;
}

.row {
  max-width: 100%;
}

.pricing {
  background-color: #2e2e2e;
  padding: 40px 65px 40px 65px;
}

.pricing h2 {
  margin: 20px;
}

.pricing h4 {
  text-align: center;
}

.pricing p {
  margin: 20px;
  font-size: 20px;
}
